body{
    background-color: lightblue;
    font-family: Arial;
    margin: 10px;
}
table{
    background-color: rgba(237, 205, 100, 0.801);
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    width: 80%;
    /*border-collapse: collapse*/;
    margin: 0 auto;
    
}
th,td{
    border: 2px solid black; 
    padding:40px
}
thead{
    background-color: lightblue;
    border-bottom: solid 2px black;
    color: black
}
tr:nth-child(even){
    background-color: rgba(255, 217, 0, 0.849)
}
tr:hover td{
    background-color: rgba(42, 209, 42, 0.726);
    color:rgba(255, 72, 72, 0.733)
}